#about-Section {
  background-color: gray;

  .job-title {
    font-size: 3rem;
  }

  .job-lead {
    font-size: 2rem;
  }
}

#portfolio-Section {
  .side-img {
    min-height: 100%;
  }
}

#contact-Section {
}
