<div id="about-Section" class="pb-2">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="hero-info">
          <p class="lead mb-0"><em>(Edward D. Kings)</em></p>
          <h1>Eduardo D. Brito Reyes</h1>
          <h2 class="display-4 job-title">Full-Stack Web-Developer</h2>
          <h3 class="lead job-lead">
            + <app-changing-text></app-changing-text>
          </h3>
          <p>
            Thanks for dropping by. This is a portfolio page I created (and over
            engineered) with AngularJS and a full host of other tools and
            technologies in the effort of developing and showing a bit of what I
            can do.
          </p>
          <button class="btn btn-success w-100">Contact</button>
        </div>
      </div>
      <div class="col-md-6">
        <img
          class="img-fluid"
          src="../../../assets/img/man-silhouette-11523439570pgp0aeiwdv.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<!-- SKILLS -->
<div id="skills-Section" class="px-5 py-2">
  <h2 class="display-4"><em>Building the Web, Front...</em></h2>
  <div class="container my-4 pt-2">
    <div class="row mb-4 text-center skill-icon">
      <div class="col-2">
        <i class="devicon-javascript-plain"></i>
      </div>
      <div class="col-2">
        <i class="devicon-angularjs-plain"></i>
      </div>
      <div class="col-2">
        <i class="devicon-react-original"></i>
      </div>
      <div class="col-2">
        <i class="devicon-html5-plain"></i>
      </div>
      <div class="col-2">
        <i class="devicon-css3-plain"></i>
      </div>
      <div class="col-2">
        <i class="devicon-bootstrap-plain"></i>
      </div>
    </div>
    <div class="row text-center skill-icon">
      <div class="col-2">
        <i class="devicon-typescript-plain"></i>
      </div>
      <div class="col-2">
        <i class="devicon-figma-plain"></i>
      </div>
      <div class="col-2">
        <i class="devicon-firebase-plain"></i>
      </div>
      <div class="col-2">
        <i class="devicon-nodejs-plain"></i>
      </div>
      <div class="col-2">
        <i class="devicon-mongodb-plain"></i>
      </div>
      <div class="col-2">
        <i class="devicon-git-plain"></i>
      </div>
    </div>
  </div>
  <p class="display-4 text-right"><em>...to Back</em></p>
</div>
<!-- PORTFOLIO -->
<div id="portfolio-Section" class="bg-dark py-5">
  <div class="container">
    <div class="row align-items-end">
      <div class="col">
        <img
          src="../../../assets/img/portfolio/ED-CHINEA-1024x501.jpg"
          alt=""
          class="img-fluid side-img"
        />
      </div>
      <div class="col-5">
        <img
          src="../../../assets/img/portfolio/Anani-1024x544.jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col">
        <img
          src="../../../assets/img/portfolio/OneTrust-1024x543.jpg"
          alt=""
          class="img-fluid side-img"
        />
      </div>
    </div>
  </div>
</div>
<!-- TESTIMONIALS TODO: FILL OUT WITH TESTIMONIALS -->
<div *ngIf="false" id="testimonials-Section" class="py-5">
  <div class="container">
    <h2 class="display-3 text-center">Testimonials</h2>
    <ngb-carousel
      class="text-center py-4"
      [showNavigationArrows]="false"
      [pauseOnHover]="true"
      [interval]="5000"
    >
      <ng-template ngbSlide>
        <div class="">
          <h4>THIS IS SOME TEXT 1</h4>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="">
          <h4>THIS IS SOME TEXT 22</h4>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="">
          <h4>THIS IS SOME TEXT 333</h4>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
<!-- CONTACT -->
<div id="contact-Section" class="py-5 bg-light">
  <div class="container">
    <div class="row align-items-end">
      <h2>
        Contact
        <span class="lead"
          >Let me know how I can help YOU, Or just say hello.</span
        >
      </h2>
    </div>
    <form action="">
      <div class="row pb-2">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Text input placeholder"
            aria-label="Text input label"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Text input placeholder"
            aria-label="Text input label"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Text input placeholder"
            aria-label="Text input label"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Text input placeholder"
            aria-label="Text input label"
          />
        </div>
      </div>
      <div class="row pb-2">
        <div class="col">
          <textarea
            class="form-control"
            id="textarea"
            rows="5"
            placeholder="Write your message here."
          ></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <input
            type="text"
            class="form-control"
            placeholder="NG Select Here"
            aria-label="Text input label"
          />
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-success w-100">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
